  *{
    font-family: 'Noto Sans KR', sans-serif;
  }
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #app {
    position: relative;
    min-height: 100%;
  }
  #header li { list-style-type : none }
  #header.sticky {position: fixed;z-index: 1}
  #header .navbar-default {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
  }

  #header .navbar-default .navbar-nav>.active>a {
    position: relative;
    color: #777;
    background-color: #fcfcfc;
  }
  #header .navbar-default .navbar-nav>.active>a.active, #header .right li a.active {
    color: black;
  }
  #header .navbar-default .navbar-nav>.active>a:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width:0%;
    background-color: #bab5b5;
    transition: 0.5s;
    bottom:13px;
  }

  #header .navbar-default .navbar-nav>.active>a:hover:before {
    width:55%;
  }
  #header .navbar-brand .brand-name {
    font-family: 'Big Shoulders Text', cursive;
    font-size:23px;
    color: #000;
  }
  #header .right li a {
    text-decoration: none;
  }
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 120px;
    padding: 20px;
    height: auto;
    background-color: #f1f1f1;
  }

  @media (min-width: 768px){
    #header .navbar-right {
      float: right!important;
      margin-right: 5px;
    }
  }

  @media (max-width: 767px) {
    .myMenu {
      padding-left:0px;
    }
    #header .navbar-default .navbar-nav>.active>a:before {
      content: none;
    }
  }
