.myPage-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -45%);
    margin-bottom: 15px;
  }
  @media all and (min-width: 800px) {
    .myPage-box {
      width:50%;
    }
  }
  .myPage-box h1 {
    width:180px;
    font-size: 40px;
    border-bottom: 6px solid #050c30;
    margin-bottom: 30px;
    padding: 10px 0;
  }
  .information {
    border: 1px solid black;
    line-height:2.3em;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .editUser , .deleteUser, .deleteComments {
    margin:0 3px;
  }
  @media all and (max-width:501px) {
    .editUser , .deleteUser, .deleteComments {
      width: 100%;
      margin-bottom: 10px;
    }
  }