  #purchaseState {
    margin-top:100px;
  }
  .myPage-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -45%);
    margin-bottom: 15px;
  }
  @media all and (min-width: 800px) {
    .myPage-box {
      width:50%;
    }
  }
  .myPage-box h1 {
    width:180px;
    font-size: 40px;
    border-bottom: 6px solid #050c30;
    margin-bottom: 30px;
    padding: 10px 0;
  }
  .information {
    border: 1px solid black;
    line-height:2.3em;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .editUser , .deleteUser, .deleteComments {
    margin:0 3px;
  }
  @media all and (max-width:501px) {
    .editUser , .deleteUser, .deleteComments {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .purchasebox img {
    width:200px;
    margin: 0 150px;
  }
  .purchasebox .text {
    float: right;
    width: 50%;
    font-size: 14px;
    font-weight: 600;
    color: balck;
    line-height: 18px;

  }
  @media all and (max-width: 1200px) {
    .purchasebox img {
      margin: 0;
    }
  }
  @media all and (max-width: 633px) {
    .purchasebox img {
      margin-top:60px;
      width: 100%;
    }
    .purchasebox .text {
      font-size:15px;
      font-weight:600;
      width: 100%;
      text-align: center;
    }
    .purchasebox .text .btn {
      width:50%;
    }    
  }